<footer>
    <div class="footer-container">
        <div class="socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="company">&copy; CasaNova Pvt. Ltd.</div>
        <div class="info-links">
            <a href="/terms">TermsAndConditions</a>
            <a href="/privacy">Privacy</a>
        </div>
    </div>
</footer>